<div class="min-h-screen flex items-center justify-center bg-black">
  <div class="max-w-md w-full p-8 text-center">
    <img src="/assets/spotify-white.png" alt="Spotify" class="h-16 mx-auto mb-8">
    
    <h1 class="text-4xl font-bold mb-8">Log in to Spotify</h1>
    
    <button (click)="login()" class="spotify-button w-full py-4 text-lg">
      Continue with Spotify
    </button>
    
    <p class="mt-8 text-[#B3B3B3]">
      Don't have an account? 
      <a href="https://www.spotify.com/signup" target="_blank" class="text-white hover:underline">
        Sign up for Spotify
      </a>
    </p>
  </div>
</div>
