<div class="space-y-2">
  @for (track of tracks; track track.id) {
    <div class="track-row group">
      <div class="flex-1">
        <h3 class="font-medium">{{ track.name }}</h3>
        <p class="text-sm text-spotify-grey">{{ track.artists[0].name }}</p>
      </div>
      <div class="flex items-center gap-4 opacity-0 group-hover:opacity-100 transition-opacity">
        @if (track.preview_url) {
          <button class="spotify-button-sm" (click)="playTrack(track)">
            <span class="material-icons">play_arrow</span>
          </button>
        }
        <a [href]="track.external_urls.spotify" target="_blank" class="text-spotify-grey hover:text-white">
          <span class="material-icons">open_in_new</span>
        </a>
      </div>
      <span class="text-spotify-grey ml-4">{{ track.duration_ms | duration }}</span>
    </div>
  }
</div>
